{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        <div class="gallery-container">
            {% for photo in photos %}
                <div class="slide">
                    <h2>{{ photo.getTitle }}</h2>
                    <div class="gallery-img">
                        <img src="../img/photos/{{ photo.image }}"/>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
