{% extends 'base.html.twig' %}

{% block content %}
    <div class="content" id="single">
            <a href="{{ path('ProjectsRoute') }}" class="home-link"></a>
             <img class="fullsize" src="img/5a4e97d6dff11e0001ca7f48_LEISKA_200509e03.jpg">
    </div>

{% endblock %}
