{% extends 'base.html.twig' %}

{% block content %}
    <div class="content" id="overview">
        <div class="container" id="overview">
            {% for project in projects %}
                <a href="{{ path('GalleryRoute', {'project_slug': project.slug}) }}">
                    <img  class="grid" src="{{ asset('img/thumbnails/' ~ project.thumbnail) }}" class="overviewImage">
                </a>
            {% endfor %}

        </div>
    </div>

{% endblock %}