{% extends 'base.html.twig' %}

{% block content %}
    <div class="content" id="overview">
        <div class="container" id="overview">
            {% for project in projects %}
                <a href="{{ path('GalleryRoute', {'project_slug': project.slug}) }}">
                <div class="project-wrapper">
                    <img  class="grid" src="{{ thumbnail_directory ~ project.image }}" class="overviewImage">
                    </div>
                </a>
            {% endfor %}

        </div>
    </div>

{% endblock %}