{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        <div class="image-container">
            {% for project in projects %}
                <a href="{{ path('GalleryRoute', {'projectTitle': project.slug}) }}">
                    <img  class="grid" src="{{ asset('img/thumbnails/' ~ project.thumbnail) }}" class="overviewImage">
                </a>
            {% endfor %}

        </div>
    </div>

{% endblock %}