
###> symfony/framework-bundle ###
.env*
/public/bundles/
/public/img/
/var/
/vendor/
/node_modules/
###< symfony/framework-bundle ###

.idea
###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
