{% extends 'admin/baseAdmin.html.twig' %}

        {% block scripts %}
            <script type="text/javascript">
                var twigProjects = JSON.parse('{{ photos|raw }}');
                var type = "photos";
                var imageDirectory = '{{ photo_directory|raw }}';
            </script>
        {% endblock %}

{% block content %}

    <div class="content" id="overview">
        <div class="container" id="overviewContainer">
            <div id="app"></div>
        </div>

        <div id="add" class="overlay">
        <a class="close-overlay" href="#"></a>
        <div class="popup">
            <a class="close" href="#">&times;</a>
            <h1>Adding a new photo</h1>
            <div class="popup-content">
                {{ form_start(form) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}